
<script async src="https://www.google.com/recaptcha/api.js" ></script>
<div class="container">
    <div id="login" class="row justify-content-center" method="POST">
        <div class="col-lg-7 ">
            <div class="col-12">
                <div class="form-outline mb-3">
                    <label class="form-label">Siglas</label>
                    <input required type="text" class="form-control" id="siglas" name="siglas">
                </div>
                <div class="form-group mt-2">
                    <div  class="g-recaptcha" data-sitekey="6Le5p3QmAAAAAMsNA5U-lEA3ehvhlghCkR09RenN"></div>
                </div>
                <div class="form-outline mt-2">
                    <button class="btn btn-success" onclick="validar()" type="button">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let jwt = localStorage.jwt;
    const header = new Headers();
    header.append('authorization', `Bearer ${jwt}`)
    header.append('Accept', `application/json`)
    header.append('Content-Type', `application/json`)

    document.addEventListener('DOMContentLoaded', async e => {
        document.getElementById('divnavbarSupporteMenu').style.display = 'block';
        document.getElementById('divnavbarSupportedContent').style.display = 'none';

    });


    validar = async () =>{
        let recap = grecaptcha.getResponse();
        let siglas =  document.getElementById('siglas').value;

        if (siglas == ''){
            Swal.fire({
                icon: 'error',
                text: 'Ingrese siglas',
            });
            return
        }

        if (recap == ''){
            Swal.fire({
                icon: 'error',
                text: 'Valide recaptcha',
            });
            return
        }

        data = JSON.stringify({
            recap : recap,
            Siglas: siglas,
        })

        const response = await fetch('/api/tipo_queja/agregarTipoQueja', {
            method:"POST",
            headers:header,
            body: data,
        }).then(res => res.json().then(data => ({status: res.status, body: data})));
        let statusCode = response.status;
        let body = response.body;

        if (statusCode == 201){
            Swal.fire({
                icon: 'success',
                text: 'Dato guardado',
                allowOutsideClick: false
            }).then(function(isConfirm) {
                if (isConfirm) {
                    window.location = '/tipoqueja'
                }
            })
        }else{
            Swal.fire({
                icon: 'error',
                text: 'Hubo un error en guardar los datos',
                allowOutsideClick: false
            });
        }
    }
</script>