<form method="POST">
    <input type="email" name="email" id="email" placeholder="Tu correo">
    <input type="password" name="password" id="password" placeholder="Tu correo" placeholder="Tu contrasena">
    <button>Login</button>
</form>