<!DOCTYPE html>
<html>
<head>
  <title>Banco Financiero - Inicio</title>
  <!-- Agrega tus estilos CSS personalizados aquí -->
</head>
<body>
  <h1>Bienvenido al Banco Financiero</h1>
  
  <!-- Otras secciones y contenido de la página de inicio -->
  
  <a href="/login">Iniciar sesión</a> <!-- Enlace para iniciar sesión -->

  <!-- Agrega tus scripts JavaScript personalizados aquí -->
</body>
</html>
